In [1]:
import pandas as pd

In [2]:
PATH = './120-years-of-olympic-history-athletes-and-results/athlete_events.csv'
data = pd.read_csv(PATH)
data

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
5,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
6,5,Christine Jacoba Aaftink,F,25.0,185.0,82.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,Speed Skating Women's 500 metres,NaN
7,5,Christine Jacoba Aaftink,F,25.0,185.0,82.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
8,5,Christine Jacoba Aaftink,F,27.0,185.0,82.0,Netherlands,NED,1994 Winter,1994,Winter,Lillehammer,Speed Skating,Speed Skating Women's 500 metres,NaN
9,5,Christine Jacoba Aaftink,F,27.0,185.0,82.0,Netherlands,NED,1994 Winter,1994,Winter,Lillehammer,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
10,6,Per Knut Aaland,M,31.0,188.0,75.0,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 10 kilometres,NaN
11,6,Per Knut Aaland,M,31.0,188.0,75.0,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 50 kilometres,NaN
12,6,Per Knut Aaland,M,31.0,188.0,75.0,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 10/15 kilometres Pu...,NaN
13,6,Per Knut Aaland,M,31.0,188.0,75.0,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 4 x 10 kilometres R...,NaN
14,6,Per Knut Aaland,M,33.0,188.0,75.0,United States,USA,1994 Winter,1994,Winter,Lillehammer,Cross Country Skiing,Cross Country Skiing Men's 10 kilometres,NaN
15,6,Per Knut Aaland,M,33.0,188.0,75.0,United States,USA,1994 Winter,1994,Winter,Lillehammer,Cross Country Skiing,Cross Country Skiing Men's 30 kilometres,NaN
16,6,Per Knut Aaland,M,33.0,188.0,75.0,United States,USA,1994 Winter,1994,Winter,Lillehammer,Cross Country Skiing,Cross Country Skiing Men's 10/15 kilometres Pu...,NaN
17,6,Per Knut Aaland,M,33.0,188.0,75.0,United States,USA,1994 Winter,1994,Winter,Lillehammer,Cross Country Skiing,Cross Country Skiing Men's 4 x 10 kilometres R...,NaN
18,7,John Aalberg,M,31.0,183.0,72.0,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 10 kilometres,NaN
19,7,John Aalberg,M,31.0,183.0,72.0,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 50 kilometres,NaN
20,7,John Aalberg,M,31.0,183.0,72.0,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 10/15 kilometres Pu...,NaN
21,7,John Aalberg,M,31.0,183.0,72.0,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 4 x 10 kilometres R...,NaN
22,7,John Aalberg,M,33.0,183.0,72.0,United States,USA,1994 Winter,1994,Winter,Lillehammer,Cross Country Skiing,Cross Country Skiing Men's 10 kilometres,NaN
23,7,John Aalberg,M,33.0,183.0,72.0,United States,USA,1994 Winter,1994,Winter,Lillehammer,Cross Country Skiing,Cross Country Skiing Men's 30 kilometres,NaN
24,7,John Aalberg,M,33.0,183.0,72.0,United States,USA,1994 Winter,1994,Winter,Lillehammer,Cross Country Skiing,Cross Country Skiing Men's 10/15 kilometres Pu...,NaN
25,7,John Aalberg,M,33.0,183.0,72.0,United States,USA,1994 Winter,1994,Winter,Lillehammer,Cross Country Skiing,Cross Country Skiing Men's 4 x 10 kilometres R...,NaN
26,8,"Cornelia ""Cor"" Aalten (-Strannood)",F,18.0,168.0,NaN,Netherlands,NED,1932 Summer,1932,Summer,Los Angeles,Athletics,Athletics Women's 100 metres,NaN
27,8,"Cornelia ""Cor"" Aalten (-Strannood)",F,18.0,168.0,NaN,Netherlands,NED,1932 Summer,1932,Summer,Los Angeles,Athletics,Athletics Women's 4 x 100 metres Relay,NaN
28,9,Antti Sami Aalto,M,26.0,186.0,96.0,Finland,FIN,2002 Winter,2002,Winter,Salt Lake City,Ice Hockey,Ice Hockey Men's Ice Hockey,NaN
29,10,"Einar Ferdinand ""Einari"" Aalto",M,26.0,NaN,NaN,Finland,FIN,1952 Summer,1952,Summer,Helsinki,Swimming,Swimming Men's 400 metres Freestyle,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271086,135555,Micha Zych,M,23.0,177.0,68.0,Poland,POL,2006 Winter,2006,Winter,Torino,Figure Skating,Figure Skating Mixed Ice Dancing,NaN
271087,135556,Bogusaw Stanisaw Zychowicz,M,19.0,189.0,80.0,Poland,POL,1980 Summer,1980,Summer,Moskva,Swimming,Swimming Men's 100 metres Butterfly,NaN
271088,135556,Bogusaw Stanisaw Zychowicz,M,19.0,189.0,80.0,Poland,POL,1980 Summer,1980,Summer,Moskva,Swimming,Swimming Men's 200 metres Butterfly,NaN
271089,135557,Dominik ycki,M,34.0,192.0,95.0,Poland,POL,2008 Summer,2008,Summer,Beijing,Sailing,Sailing Men's Two Person Keelboat,NaN
271090,135557,Dominik ycki,M,38.0,192.0,95.0,Poland,POL,2012 Summer,2012,Summer,London,Sailing,Sailing Men's Two Person Keelboat,NaN
271091,135558,ukasz Tomasz ygado,M,32.0,200.0,89.0,Poland,POL,2012 Summer,2012,Summer,London,Volleyball,Volleyball Men's Volleyball,NaN
271092,135559,Pawe Jan Zygmunt,M,21.0,182.0,79.0,Poland,POL,1994 Winter,1994,Winter,Lillehammer,Speed Skating,"Speed Skating Men's 1,500 metres",NaN
271093,135559,Pawe Jan Zygmunt,M,21.0,182.0,79.0,Poland,POL,1994 Winter,1994,Winter,Lillehammer,Speed Skating,"Speed Skating Men's 5,000 metres",NaN
271094,135559,Pawe Jan Zygmunt,M,25.0,182.0,79.0,Poland,POL,1998 Winter,1998,Winter,Nagano,Speed Skating,"Speed Skating Men's 1,500 metres",NaN
271095,135559,Pawe Jan Zygmunt,M,25.0,182.0,79.0,Poland,POL,1998 Winter,1998,Winter,Nagano,Speed Skating,"Speed Skating Men's 5,000 metres",NaN
271096,135559,Pawe Jan Zygmunt,M,29.0,182.0,79.0,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Speed Skating,"Speed Skating Men's 5,000 metres",NaN
271097,135559,Pawe Jan Zygmunt,M,29.0,182.0,79.0,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Speed Skating,"Speed Skating Men's 10,000 metres",NaN
271098,135559,Pawe Jan Zygmunt,M,33.0,182.0,79.0,Poland,POL,2006 Winter,2006,Winter,Torino,Speed Skating,"Speed Skating Men's 5,000 metres",NaN
271099,135560,Stavroula Zygouri,F,36.0,171.0,63.0,Greece,GRE,2004 Summer,2004,Summer,Athina,Wrestling,"Wrestling Women's Middleweight, Freestyle",NaN
271100,135561,Frantiek Zyka,M,26.0,NaN,NaN,Czechoslovakia,TCH,1928 Summer,1928,Summer,Amsterdam,Athletics,Athletics Men's Marathon,NaN
271101,135562,Milan Zyka,M,24.0,173.0,68.0,Czechoslovakia,TCH,1972 Summer,1972,Summer,Munich,Cycling,"Cycling Men's Team Pursuit, 4,000 metres",NaN
271102,135563,Olesya Nikolayevna Zykina,F,19.0,171.0,64.0,Russia,RUS,2000 Summer,2000,Summer,Sydney,Athletics,Athletics Women's 4 x 400 metres Relay,Bronze
271103,135563,Olesya Nikolayevna Zykina,F,23.0,171.0,64.0,Russia,RUS,2004 Summer,2004,Summer,Athina,Athletics,Athletics Women's 4 x 400 metres Relay,Silver
271104,135564,Yevgeny Aleksandrovich Zykov,M,22.0,172.0,65.0,Russia-1,RUS,2002 Winter,2002,Winter,Salt Lake City,Luge,Luge Mixed (Men)'s Doubles,NaN
271105,135565,Fernando scar Zylberberg,M,23.0,168.0,76.0,Argentina,ARG,2000 Summer,2000,Summer,Sydney,Hockey,Hockey Men's Hockey,NaN
271106,135565,Fernando scar Zylberberg,M,27.0,168.0,76.0,Argentina,ARG,2004 Summer,2004,Summer,Athina,Hockey,Hockey Men's Hockey,NaN
271107,135566,"James Francis ""Jim"" Zylker",M,21.0,175.0,75.0,United States,USA,1972 Summer,1972,Summer,Munich,Football,Football Men's Football,NaN
271108,135567,Aleksandr Viktorovich Zyuzin,M,24.0,183.0,72.0,Russia,RUS,2000 Summer,2000,Summer,Sydney,Rowing,Rowing Men's Lightweight Coxless Fours,NaN
271109,135567,Aleksandr Viktorovich Zyuzin,M,28.0,183.0,72.0,Russia,RUS,2004 Summer,2004,Summer,Athina,Rowing,Rowing Men's Lightweight Coxless Fours,NaN
271110,135568,Olga Igorevna Zyuzkova,F,33.0,171.0,69.0,Belarus,BLR,2016 Summer,2016,Summer,Rio de Janeiro,Basketball,Basketball Women's Basketball,NaN
271111,135569,Andrzej ya,M,29.0,179.0,89.0,Poland-1,POL,1976 Winter,1976,Winter,Innsbruck,Luge,Luge Mixed (Men)'s Doubles,NaN
271112,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",NaN
271113,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",NaN
271114,135571,Tomasz Ireneusz ya,M,30.0,185.0,96.0,Poland,POL,1998 Winter,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,NaN
271115,135571,Tomasz Ireneusz ya,M,34.0,185.0,96.0,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,NaN

## 1. How old were the youngest male and female participants of the 1996 Olympics?

    16 and 15
    14 and 12
    16 and 12
    13 and 11

In [25]:
youngests_male=min(data.loc[(data['Sex']=='M')&(data['Year']==1996)]['Age'])

youngests_female = min(data.loc[(data['Sex']=='F') & (data['Year']==1996)]['Age'])
print("youngets male athlete's age is ",youngests_male)
print("youngests_female athlete's age is ",youngests_female )

youngets male athlete's age is  14.0
youngests_female athlete's age is  12.0


## 2. What was the percentage of male gymnasts among all the male participants of the 2000 Olympics? Round the answer to the first decimal.

Hint: here and further if needed drop duplicated sportsmen to count only unique ones.

    0.2
    1.5
    2.5
    7.7

In [29]:
male_athlethe = data.loc[(data['Year']==2000)&(data['Sex']=='M')]
male_athlethe
male_athlethe.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8390 entries, 31 to 271108
Data columns (total 15 columns):
ID        8390 non-null int64
Name      8390 non-null object
Sex       8390 non-null object
Age       8390 non-null float64
Height    8310 non-null float64
Weight    8308 non-null float64
Team      8390 non-null object
NOC       8390 non-null object
Games     8390 non-null object
Year      8390 non-null int64
Season    8390 non-null object
City      8390 non-null object
Sport     8390 non-null object
Event     8390 non-null object
Medal     1124 non-null object
dtypes: float64(3), int64(2), object(10)
memory usage: 1.0+ MB

In [56]:
male_athlethe = male_athlethe.drop_duplicates('Name','first')
male_gymnasts = male_athlethe.loc[male_athlethe['Sport']=='Gymnastics']
male_gymnasts.Sex.value_counts()
male_athlethe
male_gymnasts
print('ratio is {}{}'.format(male_gymnasts.Sex.value_counts()/male_athlethe.Sex.value_counts()*100,'%'))

ratio is M    1.475061
Name: Sex, dtype: float64%

## 3. What are the mean and standard deviation of height for female basketball players participated in the 2000 Olympics? Round the answer to the first decimal.

    178.5 and 7.2
    179.4 and 10
    180.7 and 6.7
    182.4 and 9.1

In [57]:
female_athlethe = data.loc[(data['Year']==2000)&(data['Sex']=='F')&(data['Sport']=='Basketball')]
female_athlethe
female_athlethe.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 142 entries, 1034 to 270060
Data columns (total 15 columns):
ID        142 non-null int64
Name      142 non-null object
Sex       142 non-null object
Age       142 non-null float64
Height    142 non-null float64
Weight    142 non-null float64
Team      142 non-null object
NOC       142 non-null object
Games     142 non-null object
Year      142 non-null int64
Season    142 non-null object
City      142 non-null object
Sport     142 non-null object
Event     142 non-null object
Medal     35 non-null object
dtypes: float64(3), int64(2), object(10)
memory usage: 17.8+ KB

In [58]:
import numpy as np
female_basketball_height_mean = np.mean(female_athlethe['Height'])
female_basketball_height_std  = np.std(female_athlethe['Height'])
print("mean of height is :",female_basketball_height_mean)
print("std of height is :",female_basketball_height_std)

mean of height is : 182.38732394366198
std of height is : 9.10722402592803

## 4. Find a sportsperson participated in the 2002 Olympics, with the highest weight among other participants of the same Olympics. What sport did he or she do?

    Judo
    Bobsleigh
    Weightlifting
    Boxing

In [109]:
athlethe = data.loc[(data['Year']==2002)]
sports = athlethe.loc[athlethe['Weight']==max(athlethe["Weight"])]
sports

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
99154,50171,Emmanuel Hostache,M,26.0,190.0,123.0,France,FRA,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Two,NaN

## 5. How many times did Pawe Abratkiewicz participate in the Olympics held in different years?

    0
    1
    2
    3

In [120]:

Pawe_Abratkiewicz_tabel = data.loc[data['Name']=='Pawe Abratkiewicz']
Pawe_Abratkiewicz_tabel = Pawe_Abratkiewicz_tabel.drop_duplicates('Year','first')
Pawe_Abratkiewicz_tabel.Sex.value_counts()

M    3
Name: Sex, dtype: int64

## 6. How many silver medals in tennis did Australia win at the 2000 Olympics?

    0
    1
    2
    3

In [127]:

australia_tennis_table = data.loc[(data['Sport']=='Tennis')&(data['Year']==2000)&(data['Team']=='Australia')&(data['Medal']=='Silver')]
australia_tennis_table

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
262820,131504,Todd Andrew Woodbridge,M,29.0,178.0,75.0,Australia,AUS,2000 Summer,2000,Summer,Sydney,Tennis,Tennis Men's Doubles,Silver
262831,131511,Mark Raymond Woodforde,M,34.0,183.0,80.0,Australia,AUS,2000 Summer,2000,Summer,Sydney,Tennis,Tennis Men's Doubles,Silver

## 7. Is it true that Switzerland won fewer medals than Serbia at the 2016 Olympics? Do not consider NaN values in Medal column.

    Yes
    No

In [147]:
Switzerland_medals_tabel = data.loc[(data['Team']=='Switzerland')&(data['Year']==2016)]
Serbia_modals_tabel = data.loc[(data['Team']=='Serbia')&(data['Year']==2016)]
print(Switzerland_medals_tabel.info())
print(Serbia_modals_tabel.info())
Switzerland_medals_tabel.Medal.notnull().value_counts()
Serbia_modals_tabel.Medal.notnull().value_counts()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 148 entries, 894 to 266926
Data columns (total 15 columns):
ID        148 non-null int64
Name      148 non-null object
Sex       148 non-null object
Age       148 non-null float64
Height    148 non-null float64
Weight    148 non-null float64
Team      148 non-null object
NOC       148 non-null object
Games     148 non-null object
Year      148 non-null int64
Season    148 non-null object
City      148 non-null object
Sport     148 non-null object
Event     148 non-null object
Medal     11 non-null object
dtypes: float64(3), int64(2), object(10)
memory usage: 18.5+ KB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 127 entries, 4417 to 270371
Data columns (total 15 columns):
ID        127 non-null int64
Name      127 non-null object
Sex       127 non-null object
Age       127 non-null float64
Height    127 non-null float64
Weight    127 non-null float64
Team      127 non-null object
NOC       127 non-null object
Games     127 non-null object
Year      127 non-null int64
Season    127 non-null object
City      127 non-null object
Sport     127 non-null object
Event     127 non-null object
Medal     54 non-null object
dtypes: float64(3), int64(2), object(10)
memory usage: 15.9+ KB
None

False    73
True     54
Name: Medal, dtype: int64

## 8. What age category did the fewest and the most participants of the 2014 Olympics belong to?

    [45-55] and [25-35) correspondingly
    [45-55] and [15-25) correspondingly
    [35-45) and [25-35) correspondingly
    [45-55] and [35-45) correspondingly

In [174]:
athlete_2014 = data.loc[data['Year']==2014]
#athlete_2014.info()

age_15_25 = len(athlete_2014.loc[(15<=athlete_2014.Age)&(athlete_2014.Age<25)])
age_25_35 = len(athlete_2014.loc[(25<=athlete_2014.Age)&(athlete_2014.Age<35)])
age_35_45 = len(athlete_2014.loc[(35<=athlete_2014.Age)&(athlete_2014.Age<45)])
age_45_55 = len(athlete_2014.loc[(45<=athlete_2014.Age)&(athlete_2014.Age<=55)])
print(age_15_25)
print(age_25_35)
print(age_35_45)
print(age_45_55)

2027
2594
265
5

## 9. Is it true that there were Summer Olympics held in Lake Placid? Is it true that there were Winter Olympics held in Sankt Moritz?

    Yes, Yes
    Yes, No
    No, Yes
    No, No

In [176]:

Lake_Placid = data.loc[(data['City']=='Lake Placid')&(data.Season=='Summer')]
print(len(Lake_Placid))
Sankt_Moritz = data.loc[(data['City']=='Sankt Moritz')&(data.Season=='Winter')]
Sankt_Moritz = Sankt_Moritz.drop_duplicates('Year','first')
print(len(Sankt_Moritz))

0
2

## 10. What is the absolute difference between the number of unique sports at the 1995 Olympics and 2016 Olympics?

    16
    24
    26
    34

In [173]:
sports_2016 = data.loc[data['Year']==2016]
sports_1995 = data.loc[data['Year']==1995]
sports_2016 = len(sports_2016.drop_duplicates('Sport','first'))
sports_1995 = len(sports_1995.drop_duplicates('Sport','first'))
print(abs(sports_1995-sports_2016))

34